<div class="container" style="margin-top: 50px">

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel">
          <div class="panel-heading">
            <div class="article_title">
              <%= @article.title.to_s.force_encoding('utf-8') %>
            </div>
          </div>
          <div class="panel-body">
            <div class="article_content" id = "content"><%= @article.content.to_s.force_encoding('utf-8') %></div>
          </div>
          <div class="panel-footer panel-primary" style="overflow: auto">
            <% if current_user == @article.user%>
            <%= link_to raw('<span class="glyphicon glyphicon-edit"></span> 编辑'), edit_article_path(@article), style: 'margin-right:30px' %>
            <%= link_to raw('<span class="glyphicon glyphicon-trash"></span> 删除'), article_path(@article),
                        :method => :delete %>
            <% end %>
            <a href="#" style="float: right"><%= @article.user.username.to_s.force_encoding('utf-8') %></a>
          </div>
        </div>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row" style="margin-top: 80px">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="panel" style="overflow: hidden;">
        <div class="panel-heading panel-primary">
          <span> 评论</span>
        </div>

        <div class="panel-body">
          <% cnt = 0 %>
          <% @comments.each do |comment| %>
            <div style="font-weight: bold; font-size: 1.1em; margin-bottom: 8px">
              <%= comment.user.username.to_s.force_encoding('utf-8') %>
            </div>
            <div>
              <%= comment.content.to_s.force_encoding('utf-8') %>
            </div>
            <div style="color: #999; font-size: 0.9em; margin-top: 8px">
              <% cnt = cnt+1 %>
              <%= cnt %> 楼
              <span style="margin-left: 20px">发布于 <%= DateTime.parse(comment.created_at.to_s).strftime('%Y年%m月%d日 %H:%M').to_s   %></span>
            </div>
            <div style="height: 0; border-bottom: 1px solid #eee; margin: 8px 0"></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <%= form_for @comment, :url => {:controller => 'comment', :action => 'create', :article => @article, :comment => @comment} do |f| %>
          <textarea name="comment[content]", id="comment_content", rows="5" style="width: 100%; border-radius: 4px;padding: 5px" placeholder="新评论"></textarea>
          <div class="btn-group"  role="group" style="margin-top: 20px; width: 100%">
            <%= f.submit "提交", class: "btn btn-lg btn-primary btn-block", style: "width:100%"%>
          </div>
      <% end %>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="notDisplay" style="height: 200px"></div>
</div>

<script>
  $(function() {
    var str = $("#content").html();
    $('#content').html(marked(str));
  })
</script>