<!DOCTYPE html>
<html style="height: 100%">
<head>
    <title>Nono</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>

<body style="height: 100%;background-color: #fff">

<div id="fakeLoader"></div>
<ul class="nav nav-tabs nav-justified">
    <li id="nav1"><%= link_to raw('<span class="glyphicon glyphicon-home"></span> 主页'), root_path%></li>
    <li id="nav2"><%= link_to raw('<span class="glyphicon glyphicon-leaf"></span> 我的博客'), :controller => 'articles', :action => 'now'%></li>
    <li id="nav3"><%= link_to raw('<span class="glyphicon glyphicon-pencil"></span> 写文章'), new_article_path() %></li>
    <li id="nav4"><a href="#"><span class="glyphicon glyphicon-globe"></span> 朋友圈</a></li>
    <li id="nav5"><a href="#"><span class="glyphicon glyphicon-user"></span> 关于我</a></li>
    <% if current_user %>
    <li>
        <%= link_to raw('<span class="glyphicon glyphicon-log-out"></span>' )+ current_user.username.to_s.force_encoding("utf-8"), destroy_user_session_path, :method => :delete %>
    </li>
    <% else %>
    <li><%= link_to('登录', new_session_path(:user)) %></li>
    <% end %>
</ul>

<%= yield %>

<div class="notDisplay" style="height: 200px"></div>
<script type="text/javascript" src="/script/common.js"></script>
</body>

</html>
